* {
  box-sizing: border-box;
}

body {
  background-color:white;
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
}

.name {
  position: absolute;
  color:indigo;
  padding:1px;
  margin: 10px;
}

.navbar ul {
  list-style-type: none;
  background-color:gainsboro;
  padding:0%;
  margin:0%;
  overflow:hidden;
}

.navbar a {
  color:indigo;
  text-decoration:none;
  padding:15px;
  display:block;
  text-align:right;
}

.navbar a:hover {
  background-color: white;
  color:black;
}

.navbar li {
  float:right;
  margin-left: 30px;
}

.herobanner {
  position:relative;
}

.subtitle {
  display:block;
  background-color: white;
  position:absolute;
  top:120px;
  right:20px;
  color:indigo;
}

#contentGrid {
  margin: 0px 0%;
  border-radius:5px;
  display: grid;
  grid-template-rows: 200px 500px 200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "about about-info about-info"
  "work work-info work-info"
  "contact contact-info contact-info"
  ;
}

#About {
  grid-area: about;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding:50px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
  
}

#Work {
  grid-area: work;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding:200px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
}

#Contact {
  grid-area: contact;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding:50px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
}

#about-info {
  grid-area: about-info;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align: left;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:small;
}

#work-info {
  display:block;
  grid-area: work-info;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding:100px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:medium;
}

#contact-info {
  grid-area: contact-info;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:medium;
}

.contentGridArea {
  background-color:gainsboro;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  cursor: pointer;
  display: grid;
  align-content:flex-start;
}

/*.heading {
  background-color:lavenderblush;
  padding: 15px;
  height: 25px;
  color:indigo;
  font-size: 18px;
  align-items: center;
  border-bottom: 1px solid indigo;
} */

.footer ul {
  list-style-type: none;
  background-color:gainsboro;
  margin:5px;
  overflow:hidden;
} 

.footer a {
  color:indigo;
  text-decoration:none;
  padding:20px;
  display:inline;
  text-align:center;
}

.footer a:hover {
  background-color:white;
  color:black;
}

.footer li {
  float:left;
}
.profilepic {
  float:right;
}

.work-section-grid {
  margin: 0px 0%;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "work1 work1 work1 work1"
  "work2 work2 work3 work3"
  "work4 work4 work5 work5"
  ;
}

.work1 {
  grid-area: work1;
  background-color:white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
  position:absolute;
  display: block;
  }

  .work1:hover {
    background-color:gray;
  }

.work2 {
  grid-area: work2;
  background-color:white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
}

.work2:hover {
  background-color:grey;
}

.work3 {
  grid-area: work3;
  background-color: white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
}

.work3:hover {
  background-color:gray;
}

.work4 {
  grid-area: work4;
  background-color:white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
}

.work4:hover {
  background-color:grey;
}

.work5 {
  grid-area: work5;
  background-color:white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
 
}

.work5:hover {
  background-color:grey;
}
