/* css box model */
* {
  box-sizing: border-box;
}

/* apply style to body element */
body {
  background-color:white;
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
  line-height: 1.5;
}

/* apply style to name header */
.name {
  position: absolute;
  background-color: white;
  color:indigo;
  padding:1px;
  margin: 1px;
}

/* apply style to navigation bar */

.navbar ul {
  list-style-type: none;
  background-color:gainsboro;
  padding:0%;
  margin:0%;
  overflow:hidden;
}

/* apply style to anchor tag for navigation bar */

.navbar a {
  color:indigo;
  text-decoration:none;
  padding:15px;
  display:block;
  text-align:right;
}

/* apply style to hover link attritube */
.navbar a:hover {
  background-color: white;
  color:black;
}

/* apply style to list items in navigation bar */

.navbar li {
  float:right;
  margin-left: 30px;
}

/* apply style to the banner image */

.herobanner {
  position:relative;
}

/* apply style to the subtitle over banner image */

.subtitle {
  display:block;
  background-color: white;
  position:absolute;
  top:120px;
  right:20px;
  color:indigo;
}

/* apply css grid layout using rows and columns */

#contentGrid {
  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "about"
  "about-info"
  "contact"
  "contact-info"
  ;
}
#contentGridArea {
  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "work1"
    "work2"
    "work3"
    "work4"
    "work5"
  ;
}

/* apply style to about section in grid layout */

#About {
  grid-area: about;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding:50px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
  cursor: default;
  
}

/* apply style to work section in grid layout */

#Work {
  grid-area: work;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding:200px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
  cursor: default;
}

/* apply style to contact section in grid layout */
#Contact {
  grid-area: contact;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding:50px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
  cursor: default;
}

/* apply style to about-info section in grid layout */

#about-info {
  grid-area: about-info;
  padding:10px;
  border-radius: 5px;
  border-color:white
  padding:50px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size: small;
  cursor: default;
}

/* apply style to profile image of about-info section in grid layout */

.profilepic {
  display:inline-flex;
  margin:20px;
}

/* add border to grid layout */

.contentGridArea img {
  border-color:white;
  border-style: solid;
  border-radius: 5px;
}


/* apply style to anchor links of work-info section in grid layout */

.projectlink {
  position:absolute;
  background-color: white;
  color:indigo;
  margin-left: 10px;
}


/* apply style to work-info section in grid layout */

#work-info {
  display:block;
  padding:100px;
  grid-area: work-info;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:medium;
}


/* apply style to contact-info section in grid layout */

#contact-info {
  grid-area: contact-info;
  border-radius: 5px;
  border-color:white;
  border-style: solid;
  background-color:gainsboro;
  text-align:center;
  padding: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:medium;
}


/* apply style to content grid area */

.contentGridArea {
  background-color:gainsboro;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  cursor: pointer;
  display: grid;
  align-content:flex-start;
}


/* apply style to footer */

.footer ul {
  list-style-type: none;
  background-color:gainsboro;
  margin:5px;
  overflow:hidden;
} 

/* apply style to footer anchor link */

.footer a {
  color:indigo;
  text-decoration:none;
  padding:20px;
  display:inline;
  text-align:center;
}

/* apply style to hover attribute of anchor link tag */

.footer a:hover {
  background-color:white;
  color:black;
}

/* apply style to list items in footer */

.footer li {
  float:left;
}

/* apply style and nested grid in work section grid  */

.work-section-grid {
  margin: 0px 0%;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "work1 work1 work1 work1"
  "work2 work2 work3 work3"
  "work4 work4 work5 work5"
  ;
}

.work1 {
  grid-area: work1;
  background-color:white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
  position:absolute;
  display: block;
  }

  .work1:hover {
    background-color:gray;
  }

.work2 {
  grid-area: work2;
  background-color:white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
}

.work2:hover {
  background-color:grey;
}

.work3 {
  grid-area: work3;
  background-color: white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
}

.work3:hover {
  background-color:gray;
}

.work4 {
  grid-area: work4;
  background-color:white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
}

.work4:hover {
  background-color:grey;
}

.work5 {
  grid-area: work5;
  background-color:white;
  text-align:center;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  color:indigo;
  font-size:large;
 
}

.work5:hover {
  background-color:grey;
}

/* add media queries for responsive web design */

@media only screen and (min-width: 600px) {
  .herobanner {
    position: static;
    margin: 20px;
  }
  #contentGrid {
    margin: 0px 0%;
    border-radius:5px;
    display: grid;
    grid-template-rows: 200px 500px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "about about-info about-info"
    "work work-info work-info"
    "contact contact-info contact-info"
    ;
  }
  .work-section-grid {
    margin: 0px 0%;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "work1 work1 work1 work1"
    "work2 work2 work3 work3"
    "work4 work4 work5 work5"
    ;
  }
}

@media only screen and (min-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}


